In [37]:
import pandas as pd
import numpy as np

In [39]:
microbiome=pd.read_table("../../haddad_data/raw/otu_table_haddad_fecal__expected_duration_6weeks__.txt", sep='\t', skiprows=1, index_col="#OTU ID")

metabolome=pd.read_table("../../haddad_data/raw/haddad_master_featuretable_unnorm.txt", sep='\t', header=0, index_col="#OTU ID")

metadata=pd.read_table("../../haddad_data/raw/haddad_master_metadata_fecal_w_alphametrices__expected_duration_6_weeks__.txt", sep='\t', header=0,index_col="#SampleID")

In [40]:
#clean micro
microbiome=microbiome.T
microbiome=microbiome.reset_index().rename(columns={"index":"#SampleID"})
microbiome=microbiome.set_index("#SampleID")

In [41]:
#clean metab
metabolome=metabolome.T
metabolome=metabolome.reset_index().rename(columns={"index":"#SampleID"})
metabolome=metabolome.set_index("#SampleID")

In [42]:
def match_samples(mic, met, md):
    mic_samp=set(mic.index)
    met_samp=set(met.index)
    md_samp=set(md.index)
    matched=sorted(list(mic_samp & met_samp & md_samp))
    mic=mic.ix[matched]
    met=met.ix[matched]
    md=md.ix[matched]
    return(mic, met, md)
    
    import unittest
    m1 = pd.DataFrame([[0, 0, 1],
                  [2, 2, 4],
                  [5, 5, 3]],
                  index=['s1', 's2', 's3'],
                  columns=['o1', 'o2', 'o3'])
    _mapping = pd.DataFrame([['a', 'control'],
                        ['b', 'control'],
                        ['c', 'diseased'],
                        ['d', 'diseased']],
                        index=['s1', 's2', 's3', 's4'],
                        columns=['Barcode', 'Treatment'])
    m2=pd.DataFrame([[2, 4, 4],
                 [5, 3, 3],
                 [0, 0, 1]],
                index=['s2', 's3', 's4'],
                columns=['c1', 'c2', 'c3'])
    assert(match_samples(m1, m2, _mapping)[0].index==['s2','s3'])

In [43]:
microbiome, metabolome, metadata=match_samples(microbiome, metabolome, metadata)

In [44]:
print(microbiome.shape)
print(metabolome.shape)
print(metadata.shape)

(207, 5775)
(207, 14497)
(207, 81)

#### filter zero features

In [45]:
frem=[]
for otu in microbiome.columns:
    ll=np.array(microbiome[otu])
    if np.count_nonzero(ll) == 0:
        frem.append(otu)
microbiome=microbiome.drop(frem, axis=1)

In [46]:
frem=[]
for mol in metabolome.columns:
    ll=np.array(metabolome[mol])
    if np.count_nonzero(ll) == 0:
        frem.append(mol)
metabolome=metabolome.drop(frem, axis=1)

In [47]:
print(microbiome.shape)
print(metabolome.shape)
print(metadata.shape)

(207, 3463)
(207, 12868)
(207, 81)

In [48]:
microbiome.head(3)

#OTU ID,217479,2018038,181348,4467992,544561,4454356,261924,1081058,4470547,3957916,...,262961,302865,302312,268440,310491,267717,4418299,4431803,4480061,978113
#SampleID,,,,,,,,,,,,,,,,,,,,,
10422.17.F.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10422.17.F.10,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,434.0,...,0.0,0.0,0.0,3.0,0.0,27.0,0.0,0.0,0.0,0.0
10422.17.F.11,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,56.0,...,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0

In [49]:
metabolome.head(3)

#OTU ID,37.6132282051282_220.117950460898,26.4683139423077_165.05455217301,16.3088907051282_134.044959207861,27.0751897435897_86.0964622232243,3.58318602564103_159.969446791457,16.3207673076923_106.04987074212,20.8057491987179_74.0602741849405,16.2613233974359_104.106994095511,19.7333834935897_120.065627404013,17.0453836538461_148.133307097949,...,315.593_589.446094945195,17.30925_87.0440879106073,205.9585_349.200857748516,295.377_278.218606342036,189.151_482.285833767595,173.222_447.348118233546,342.195_111.067084831637,107.059_251.665264486251,148.399_493.264983401526,110.5825_262.658525640878
#SampleID,,,,,,,,,,,,,,,,,,,,,
10422.17.F.1,187304000.0,54700100.0,13239000.0,5.155110e+08,17690000.0,13826000.0,19889700.0,8.939870e+07,62400300.0,80592200.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10422.17.F.10,58587000.0,92475000.0,56548100.0,1.205870e+09,11820900.0,77460200.0,18846000.0,2.049780e+09,187207008.0,439472000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10422.17.F.11,185791008.0,174859008.0,54356700.0,2.306500e+09,9287420.0,72240400.0,12489100.0,2.038020e+09,184158000.0,535499008.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
metadata.head(3)

,BarcodeSequence,LinkerPrimerSequence,center_name,experiment_design_description,extraction_robot,extractionkit_lot,instrument_model,library_construction_protocol,linker,mastermix_lot,...,Description,PD_whole_tree_even_11984_alpha,PD_whole_tree_even_11984_normalized_alpha,PD_whole_tree_even_11984_alpha_label,observed_otus_even_11984_alpha,observed_otus_even_11984_normalized_alpha,observed_otus_even_11984_alpha_label,chao1_even_11984_alpha,chao1_even_11984_normalized_alpha,chao1_even_11984_alpha_label
#SampleID,,,,,,,,,,,,,,,,,,,,,
10422.17.F.1,CAGAAATGTGTC,GTGTGCCAGCMGCCGCGGTAA,UCSDMI,Mouse cohort exposed to apnea and controls to ...,HOWE_KF1,PM16B24,Illumina HiSeq 2500,"EMP 16S V4 protocol 515fbc, 806r",GT,14663,...,baseline feces mouse 17 collection 1 of 13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10422.17.F.10,GTTGTTCTGGGA,GTGTGCCAGCMGCCGCGGTAA,UCSDMI,Mouse cohort exposed to apnea and controls to ...,HOWE_KF1,PM16B24,Illumina HiSeq 2500,"EMP 16S V4 protocol 515fbc, 806r",GT,14663,...,feces mouse 17 collection 10 of 13,14.227694,0.306119,bin_2_of_4,179.3,0.329670,bin_2_of_4,269.261161,0.395471,bin_2_of_4
10422.17.F.11,TGTGCTTGTAGG,GTGTGCCAGCMGCCGCGGTAA,UCSDMI,Mouse cohort exposed to apnea and controls to ...,HOWE_KF2,PM16B24,Illumina HiSeq 2500,"EMP 16S V4 protocol 515fbc, 806r",GT,14663,...,feces mouse 17 collection 11 of 13,14.848310,0.357484,bin_2_of_4,188.6,0.370549,bin_2_of_4,276.711673,0.420081,bin_2_of_4

In [51]:
microbiome.T.to_csv("../../haddad_data/otu_6week_matched_scolumns.txt", sep='\t')
microbiome.to_csv("../../haddad_data/otu_6week_matched_srows.txt", sep='\t')

In [52]:
metabolome.T.to_csv("../../haddad_data/metab_6weeks_matched_scolumns.txt", sep='\t')
metabolome.to_csv("../../haddad_data/metab_6weeks_matched_srows.txt", sep='\t')

In [53]:
metadata.to_csv("../../haddad_data/metadata_matched.txt", sep='\t')

#### for metaboanalyst

These dataframes are matched in samples and order of samples. So we can simply add metadata column for our classifier like this:

In [54]:
microbiome["category"]=metadata["exposure_type"]
metabolome["category"]=metadata["exposure_type"]

In [55]:
microbiome.to_csv("../../haddad_data/otu_6week_matched_forclassifier.csv", sep=',')
metabolome.to_csv("../../haddad_data/metab_6weeks_matched_forclassifier.csv", sep=',')